.header {
    margin: 64px 40px 0 40px;
}
.header_box{
display: flex;
justify-content: space-between;
align-items: flex-end;
}
.info__header {
    margin: 0;
}
.name {
    margin: 0;
    left: 50px;
}